<div class="container">
    <section>
      <h2>Información Personal</h2>
      <ul>
        <li><strong>Nombre:</strong> Adrian Alvarez Campos</li>
        <li><strong>Fecha de nacimiento:</strong> 02/08/2003</li>
        <li><strong>Nacionalidad:</strong> Española</li>
        <li><strong>Número de teléfono:</strong> (+34) 635816764 (Móvil)</li>
        <li><strong>Dirección de correo electrónico:</strong> adrianalvarezcampos@gmail.com</li>
        <li><strong>Dirección:</strong> mestas, 33530, infiesto, España (Domicilio)</li>
      </ul>
    </section>
  
    <section>
      <h2>Experiencia Laboral</h2>
      <ul>
        <li>
          <strong>11/07/2021 - 16/09/2021</strong><br>
          Infesto, España<br>
          CAMARERO en PURA AVENTURA
        </li>
        <li>
          <strong>07/07/2022 - ACTUAL</strong><br>
          Ribadesellla, España<br>
          CAMARERO en RESTAURANTE LA CEREZAL
        </li>
      </ul>
    </section>
  
    <section>
      <h2>Educación y Formación</h2>
      <ul>
        <li>
          <strong>14/09/2019 - 11/06/2021</strong><br>
          Infesto, España<br>
          BACHILLERATO en IES Infesto
        </li>
        <li>
          <strong>15/09/2022 - 01/06/2024</strong><br>
          Oviedo, España<br>
          GS DESARROLLO DE APLICACIONES MULTIPLATAFORMA en IES Doctor Fleming
        </li>
      </ul>
    </section>
  
    <section>
      <h2>Competencias de Idiomas</h2>
      <ul>
        <li><strong>Lengua(s) materna(s):</strong> ESPAÑOL</li>
        <li><strong>Inglés:</strong> B2</li>
        <li><strong>Expresión Escrita:</strong> B2</li>
        <li><strong>Comprensión:</strong> B2</li>
        <li><strong>Expresión Oral:</strong> B2</li>
      </ul>
    </section>
  
    <section>
      <h2>Competencias Digitales</h2>
      <ul>
        <li><strong>Microsoft Office:</strong> Nociones</li>
        <li><strong>PDF:</strong> Dominio</li>
        <li><strong>Gmail:</strong> Dominio</li>
        <li><strong>Programacion:</strong> Java Dominio y Angular Nociones</li>
      </ul>
    </section>
  </div>
  