.contenedor-botones {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin-top: 20px; 
    margin-top: 600px;
    margin-left: 430px;
}

.Boton {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 10px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: parpadeo 1s infinite;
}

.Boton img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}


.marcador-jugador {
    position: absolute;
    top: 10px; 
    left: 10px; 
    display: flex;
    flex-direction: row-reverse; 
}

.marcador-maquina {
    position: absolute;
    top: 10px; 
    right: 10px; 
    display: flex;
    flex-direction: row; 
}

.vidas-jugador,
.vidas-maquina {
    display: flex;
}


.vida1,
.vida2 {
    width: 20px; 
    height: 20px; 
    margin: 0 2px; 
}
#contenedor-imagen {
    position: absolute;
    top: 30%;
    left: 42%;
    transform: translate(-50%, -50%);
    margin-left: 140px;
}
#contenedor-imagen img {
    width: 250px; 
    height: 250px; 
}


@keyframes parpadeo {
    50% {
        transform: scale(1.05);
    }
}
