.contenedor-botones {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin-top: 20px; /* Modificado para reducir el espacio entre el contenedor de botones y el contenedor de imágenes */
    background-color: aqua;
    margin-top: 600px;
    margin-left: 430px;
}

.Boton {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 10px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: parpadeo 1s infinite;
}

.Boton img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}


/*Ajustes para los marcadores*/
.marcador-jugador {
    position: absolute;
    top: 10px; /* Ajusta según sea necesario */
    left: 10px; /* Ajusta según sea necesario */
    display: flex;
    flex-direction: row-reverse; /* Cambia el orden de las vidas para que se vean hacia la derecha */
}

.marcador-maquina {
    position: absolute;
    top: 10px; /* Ajusta según sea necesario */
    right: 10px; /* Ajusta según sea necesario */
    display: flex;
    flex-direction: row; /* Por defecto las vidas se verán hacia la izquierda */
}

.vidas-jugador,
.vidas-maquina {
    display: flex;
}

/* Estilos para los corazones */
.vida1,
.vida2 {
    width: 20px; /* Ajusta el tamaño de los corazones según sea necesario */
    height: 20px; /* Ajusta el tamaño de los corazones según sea necesario */
    margin: 0 2px; /* Espacio entre los corazones */
}
#contenedor-imagen {
    position: absolute;
    top: 30%;
    left: 42%;
    transform: translate(-50%, -50%);
    margin-left: 140px;
}
#contenedor-imagen img {
    width: 250px; /* Ajusta el tamaño del ancho según sea necesario */
    height: 250px; /* Ajusta el tamaño de la altura según sea necesario */
}

/* Animación de parpadeo */
@keyframes parpadeo {
    50% {
        transform: scale(1.05);
    }
}
