<div class="container">
    <section>
        <h2>Información general</h2>
        <ul>
            <li>Bienvenido y gracias por jugar, este un proyecto final de angualr en cual</li><br>
            <li>hemos desarrolado tres juego, el piedra papel tijera, el tres en raya y el</li><br>
            <li>buscaminas, a continuacion le explicamos en que consiste y que hay que hacre para ganar</li>
        </ul>
    </section>

    <section>
        <h2>Piedra paple tijera</h2>
        <ul>
            <li>El juego "Piedra, Papel, Tijera" es un enfrentamiento entre dos jugadores que </li><br>
            <li>eligen entre tres opciones: piedra, papel o tijera. La piedra vence a la tijera, </li><br>
            <li>la tijera vence al papel y el papel vence a la piedra. Es un juego de azar y </li><br>
            <li>estrategia rápido y divertido, popular en todo el mundo y a menudo utilizado para tomar </li>
            <li>decisiones simples o resolver disputas de manera informal. ¡Gana el jugador que elige la opción que vence a la del oponente!</li><br>
        </ul>
    </section>
    <section>
        <h2>Tres en raya</h2>
        <ul>
            <li>"Tres en Raya" es un juego de estrategia para dos jugadores que se juega en un tablero de 3x3 </li><br>
            <li>casillas. Los jugadores alternan turnos marcando una casilla con su símbolo ( X y O) </li><br>
            <li>con el objetivo de formar una línea horizontal, vertical o diagonal de tres símbolos iguales. El </li><br>
            <li>primer jugador en lograrlo gana la partida, y si todas las casillas están ocupadas sin formar una </li>
            <li>línea, la partida termina en empate. Es un juego sencillo pero requiere planificación y anticipación para ganar</li><br>
        </ul>
    </section>
    <section>
        <h2>Busca minas</h2>
        <ul>
            <li>"Busca Minas" es un juego de lógica en el que el jugador debe descubrir todas las casillas del </li><br>
            <li>tablero que no contienen minas. Cada casilla puede estar vacía o contener una mina. Al hacer clic </li><br>
            <li>en una casilla, se revela su contenido. Si se descubre una mina, el jugador pierde la partida. El  </li><br>
            <li>desafío radica en deducir la ubicación de las minas utilizando pistas proporcionadas por las </li>
            <li>casillas vecinas, evitando hacer clic en una casilla minada y descubriendo todas las casillas seguras para ganar.</li><br>
        </ul>
    </section>
</div>
