.tablero {
  border-collapse: collapse;
  margin-top: 200px;
  margin-left: 640px;
}

.casilla {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.casilla:hover {
  background-color: lightgray;
}
.reset{
  width: 80px;
  height: 50px;
  font-size: large;
  margin-left: 820px;
  margin-top: 100px;
  border: 1px solid coral; 
  background-color: cornflowerblue;
  color: white;
}